.dis_footer {
}
.inside_c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80dvh;
}

.inside_z {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80dvh;
}

.content {
  font-size: large;
}
