<div class="container inside_z">
  <form action="/submit" method="POST">
    <!-- <div class="mb-3"> -->
    <label for="author" class="form-label">Author</label>
    <input
      type="text"
      class="form-control"
      id="author"
      name="author"
      placeholder="---Author---"
    />
    <!-- </div> -->
    <!-- <div class="mb-3"> -->
    <label for="title" class="form-label">Title</label>
    <input
      type="text"
      class="form-control"
      id="title"
      name="title"
      placeholder="---Title---"
    />
    <!-- </div> -->
    <!-- <div class="mb-3"> -->
    <label for="descr" class="form-label">Description</label>
    <textarea
      class="form-control"
      id="descr"
      rows="5"
      name="descr"
      placeholder="---Description---"
    ></textarea>
    <!-- </div> -->

    <!-- <div class="mb-3 btn-primary"> -->
    <input type="submit" value="Create post" />
    <!-- </div> -->
  </form>
</div>
